<h1>{{ name }}</h1>

<dl>
  <td>Name:</td>
  <dd>{{ name }}</dd>

  <td>Age:</td>
  <dd>{{ age }}</dd>

  <td>Someone method:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalized name:</td>
  <dd>{{ capitalizedName }}</dd>

</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-3">
  Cambiar nombre
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar edad
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-3">
  Reset Form
</button>
